@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/custom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(74, 116, 242);
}

::-webkit-scrollbar-thumb {
  background: rgb(17, 65, 239);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(30, 60, 150);
}

html {
  scroll-behavior: smooth;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-text-head {
  background: linear-gradient(45deg, rgb(10, 25, 80), rgb(30, 60, 150));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* display: flex; */
  padding-right: 4px;
}

/* .gradient-text {
  background: linear-gradient(45deg, rgb(255, 215, 0), rgb(255, 255, 150));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */

.gradient-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(to bottom, rgb(34, 34, 34), rgb(67, 66, 66));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .gradient-text {
  background: linear-gradient(45deg, #0b25e7, #7876e4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */
